body {
    margin: 10px;
}

.root {

}

button {
    padding: 3px;
}

h3 {
    text-decoration: underline;
}

.topBar {
    display: flex;
    justify-content: space-between;
}

.topBox {
    height: 15dvh;
}

.topBoxSpan {
    font-weight: bold;
}

.fishBox {
    margin: 0;
}

.fishCountSpan {
    font-weight: bold;
}

.fishUpgradeBox {
    margin-top: 10px;
}

.bonusBox {
    
}

.bonusBoxSpan {
    font-weight: bold;
}